live[[:space:]]com[[:space:]]gabriel[[:space:]]pessoa[[:space:]]Eu[[:space:]]Sei[[:space:]]Meu[[:space:]]Valor[[:space:]]parte1.mp4 filter=lfs diff=lfs merge=lfs -text
live[[:space:]]com[[:space:]]gabriel[[:space:]]pessoa[[:space:]]Eu[[:space:]]Sei[[:space:]]Meu[[:space:]]Valor[[:space:]]parte2.mp4 filter=lfs diff=lfs merge=lfs -text
